

.input-container {
    display: flex;
    align-items: center;
    border: 2px solid orange;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  }
  .math-input-container {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
  margin-top: 8px;
  margin-bottom: 0px;
  border-radius: 8px;
  border: 1px solid orange;
  background-color: orange;
  }
  
  .input-container input {
    flex: 1;
    border: none;
    outline: none;
  }
  
  .btn {
    min-height:36px;
    min-width:36px;
    padding: 6px 6px 6px 6px;
    margin-left: 4px;
    border: 2px solid rgb(255, 207, 50);
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(255, 207, 50);
    color: white;
    font-weight:bold;
    margin-bottom: 0px;
  }

  
  .orange-bg {
    background-color: orange;
    color: white;
  }
  
  .gray-text {
    color: gray;
  }
  .result-container {
    margin-top: 10px;
  }

  .center-content {
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
  }