<div class="landing-container">

  <header class="landing-header">
    <div class="dropdown">
      <button class="button dropdown-button">Меню</button>
      <div class="dropdown-menu">
        <a href="#">Кнопка 1</a>
        <a href="#">Кнопка 2</a>
        <a href="#">Кнопка 3</a>
      </div>
    </div>
    <button class="logo" (click)="changePage('S')">SpeedWagon</button>
      <table>
        <tr>
          <td><button class="button-t" (click)="changePage('S')">Найти</button></td>
          <td><button class="button-t" (click)="changePage('Ro')">Маршруты</button></td>
          <td><button class="button-t" (click)="changePage('Re')">Запланированные поездки</button></td>
          <td><button class="profile-button" (click)="changePage('P')" *ngIf="isLoggedIn(); else loginButton">
            <img
              src="../../../assets/icons/profile.png"
              alt="Профиль"
              class="profile-icon"
            />
          </button>
          <ng-template #loginButton>
            <button class="button-t" (click)="logIn()">{{ getTranslation('Sign in') }}</button>
          </ng-template> 
        </td>
        </tr>
      </table>  
  </header>
  <div class="center-content" [ngSwitch]="selectedPage">
    <span  *ngSwitchCase="'S'"><app-search-component ></app-search-component></span>
    <span  *ngSwitchCase="'P'"><app-profile-component></app-profile-component></span>
    <span  *ngSwitchCase="'Ro'"><app-routes-component></app-routes-component></span>
    <span  *ngSwitchCase="'Re'"><app-reservations-component></app-reservations-component></span>
  </div>
</div>