
<div class="container">
  <div class="profile-sidebar">
      <h3>Профиль</h3>
      <a href="#">Настройки</a>
      <a href="#">Мои пассажиры</a>
      <a href="#">Мои карты</a>
      <a href="#">Мои мили</a>
      <a href="#">Мой рейтинг</a>
      <a href="#">Выйти</a>
  </div>

  <div class="profile-content">
      <h2>Профиль</h2>
      <div class="phone">Телефон: +375 29 345 22 04</div>
      <p class="description">
          С помощью телефона мы сможем связаться с вами в случае отмены, переноса рейса или других ситуациях.
      </p>
  </div>
</div>